n8n-financial-info/flows/financial-info-flow.json
{
  "name": "Financial Info - BR & US Stocks",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Para n8n - Code Node\nconst items = $input.all();\n\nconst brazilStocks = [];\nconst usStocks = [];\n\n// Iterar sobre todos os itens\nfor (const item of items) {\n  const brStock = item.json['Ação BR'];\n  const usStock = item.json['Ação US'];\n  \n  // Adicionar ação brasileira se não estiver vazia\n  if (brStock && brStock.trim() !== '') {\n    brazilStocks.push(brStock.trim());\n  }\n  \n  // Adicionar ação americana se não estiver vazia\n  if (usStock && usStock.trim() !== '') {\n    usStocks.push(usStock.trim());\n  }\n}\n\n// Gerar data/hora atual em formato brasileiro\nconst now = new Date();\nconst brazilTime = now.toLocaleString('pt-BR', { \n  timeZone: 'America/Sao_Paulo',\n  dateStyle: 'short',\n  timeStyle: 'short'\n});\n\n// Retornar no formato desejado\nreturn [{\n  json: {\n    stocks: {\n      br: brazilStocks,\n      us: usStocks\n    },\n    data_geracao: brazilTime,\n    total_brazil: brazilStocks.length,\n    total_us: usStocks.length,\n    total: brazilStocks.length + usStocks.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "824a4757-3e35-4e44-8ba5-f7541177ffd1",
      "name": "SplitStocksByMarket"
    },
    {
      "parameters": {
        "sendTo": "ldias.rs@gmail.com",
        "subject": "=Financial info {{ DateTime.now() }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        0
      ],
      "id": "647a87a1-5bba-4aea-af87-62dedb7ae948",
      "name": "Send a message1",
      "webhookId": "1e9843d7-2eba-4798-a79b-72df46b1fcd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mx40O4DWSK5YGsKn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9dd3a356-d690-42c2-a87f-360dc2ff8750",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "887294ee-cfa8-4427-8832-03d607dc1b84",
      "name": "Financial Stock Info1",
      "credentials": {
        "googlePalmApi": {
          "id": "xg8JJT12sq4nKGDw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI",
          "mode": "list",
          "cachedResultName": "Stock-info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "7e5c71af-a545-40d7-8f34-6cc0e4732226",
      "name": "GetStockRows1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TcsAIidzUoiqPfyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load the prompt from the markdown file\n// In n8n, you would typically store this in a Set node or read from a file\n// For now, we'll include the updated prompt directly\n\nconst basePrompt = `# Prompt: Relatório de Ações Brasileiras e Americanas\n\n## 🎯 INSTRUÇÃO PRINCIPAL\n\n**VOCÊ DEVE GERAR UM RELATÓRIO HTML COMPLETO E PRONTO PARA USO COM DADOS REAIS E ATUALIZADOS.**\n\n**PROIBIDO:**\n- ❌ Usar placeholders, variáveis ou templates (ex: {{VALOR}}, {PERCENTUAL}, etc.)\n- ❌ Deixar campos vazios ou com \"dados a serem preenchidos\"\n- ❌ Gerar código JavaScript para preencher dados posteriormente\n- ❌ Usar dados fictícios ou simulados sem avisar explicitamente\n\n**OBRIGATÓRIO:**\n- ✅ Buscar cotações REAIS e ATUALIZADAS de todas as ações\n- ✅ Preencher TODOS os valores com dados reais do mercado\n- ✅ Usar data e hora ATUAL do momento da geração\n- ✅ Retornar HTML 100% completo e funcional\n\n---\n\n## 📋 Objetivo\nGerar um relatório completo e atualizado sobre ações da **bolsa brasileira (B3)** e **bolsas americanas (NYSE/NASDAQ)**, formatado em HTML para envio por e-mail, com informações relevantes para tomada de decisão de investimento.\n\n---\n\n## 📊 Estrutura do Relatório\n\n### Organização Geral:\n\nO relatório deve ter **DUAS SEÇÕES PRINCIPAIS** claramente separadas:\n\n1. **🇧🇷 AÇÕES BRASILEIRAS (B3)** - Todas as ações do Brasil\n2. **🇺🇸 AÇÕES AMERICANAS (NYSE/NASDAQ)** - Todas as ações dos EUA\n\nCada seção deve ter seu próprio:\n- Resumo executivo específico (quantas subiram/caíram, maior alta, maior baixa)\n- Lista de ações com análise completa\n- Cotações na moeda correspondente (R$ para BR, US$ para US)\n\n---\n\n### Para cada ação, inclua:\n\n#### 1. Cabeçalho da Ação\n- Código e nome completo da empresa\n- Setor de atuação\n\n#### 2. 📈 Cotações e Performance\n- Cotação Atual (com data/hora)\n- Variação no Dia\n- Último Mês (30d)\n- Último Ano (12m)\n- Últimos 3 Anos\n\n#### 3. 📊 Indicadores Fundamentalistas\n- P/L, Dividend Yield, P/VP, ROE\n\n#### 4. 💰 Proventos\n- Listar proventos declarados e previstos\n\n#### 5. 📰 Notícias Relevantes\n- 3-5 notícias mais relevantes dos últimos 30 dias\n\n#### 6. 🎯 Análise Técnica\n- Suportes, Resistências, Médias Móveis\n\n---\n\n## ⚠️ REGRAS CRÍTICAS\n\n### 🚫 NUNCA:\n- Use placeholders como {{VARIAVEL}}\n- Deixe dados faltando\n- Gere JavaScript para preencher depois\n\n### ✅ SEMPRE:\n- Busque dados REAIS\n- Preencha TODOS os valores\n- Use data/hora ATUAL\n- Forneça HTML completo\n\n---\n\n## 🔴 LEMBRETE FINAL\n\n**SE VOCÊ GERAR PLACEHOLDERS OU VARIÁVEIS NÃO PREENCHIDAS, A TAREFA SERÁ CONSIDERADA FALHADA.**\n\nRetorne APENAS HTML completo, funcional e com todos os dados preenchidos.\n\n\n### 🔌 APIs e Fontes de Dados Recomendadas:\n\n#### APIs Gratuitas para Ações Brasileiras (B3):\n1. **Brapi** (https://brapi.dev)\n   - API gratuita com cotações B3 em tempo real\n   - Endpoint: \"https://brapi.dev/api/quote/{ticker}\"\n   - Exemplo: \"https://brapi.dev/api/quote/ITSA4\"\n\n2. **Yahoo Finance API**\n   - Use o sufixo \".SA\" para ações brasileiras\n   - Exemplo: \"ITSA4.SA\", \"ITUB4.SA\"\n\n3. **HG Brasil Finance API**\n   - API brasileira com dados do mercado\n   - Cotações, moedas e muito mais\n\n#### APIs Gratuitas para Ações Americanas (US):\n1. **Yahoo Finance API**\n   - Sem sufixo para ações americanas\n   - Exemplo: \"AAPL\", \"GOOGL\", \"MSFT\"\n\n2. **Alpha Vantage** (https://www.alphavantage.co)\n   - API gratuita (limite de requests)\n   - Endpoint: \"https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={ticker}\"\n\n3. **Finnhub** (https://finnhub.io)\n   - API gratuita com cotações em tempo real\n   - Boa cobertura de ações americanas\n\n#### Sites para Web Scraping (se necessário):\n**Brasil:**\n- Status Invest (https://statusinvest.com.br)\n- Fundamentus (https://www.fundamentus.com.br)\n- InfoMoney (https://www.infomoney.com.br)\n- Investing.com Brasil (https://br.investing.com)\n\n**EUA:**\n- Yahoo Finance (https://finance.yahoo.com)\n- MarketWatch (https://www.marketwatch.com)\n- Seeking Alpha (https://seekingalpha.com)\n- Investing.com (https://www.investing.com)\n\n#### Para Notícias:\n**Brasil:**\n- InfoMoney notícias\n- Valor Econômico\n- B3 - Comunicados e Fatos Relevantes\n\n**EUA:**\n- Bloomberg\n- CNBC\n- Reuters\n- Yahoo Finance News\n- MarketWatch\n\n## 🔔 Alertas Importantes\n\nInclua alertas quando aplicável:\n- ⚠️ Variação superior a ±5% no dia\n- 📢 Resultados trimestrais divulgados recentemente\n- 💵 Proventos com data de pagamento próxima (próximos 7 dias)\n- 🔥 Notícias de alto impacto (fusões, aquisições, mudanças estratégicas)\n\n\n## 🔴 LEMBRETE FINAL - LEIA NOVAMENTE\n\n### ESTE PROMPT EXIGE:\n\n1. **HTML COMPLETO** - Pronto para abrir no navegador e enviar por e-mail\n2. **DADOS REAIS** - Busque cotações, notícias e indicadores atualizados\n3. **ZERO PLACEHOLDERS** - Nenhum \"{{VARIAVEL}}\", \"{VALOR}\" ou similar\n4. **SEM JAVASCRIPT** - Não gere scripts para preencher dados depois\n5. **DATA ATUAL** - Use a data e hora real do momento da geração\n\n### SE VOCÊ GERAR PLACEHOLDERS OU VARIÁVEIS NÃO PREENCHIDAS, A TAREFA SERÁ CONSIDERADA FALHADA.\n\n`;\n\nconst stocks = $input.item.json.stocks\nconst stocksBr = JSON.stringify(stocks.br)\nconst stocksUs = JSON.stringify(stocks.us)\n\nconst prompt = `Use this stock list to generate the report:\\n\\n\" US: ${stocksUs} BR: ${stocksBr} \n\n${basePrompt}\n\\n\\n\n\n`\n\nreturn [{\n  json: {\n    prompt: prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "997fa3e2-4d51-4de1-b2fa-770c0d65612c",
      "name": "Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "SplitStocksByMarket": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "GetStockRows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Stock Info1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetStockRows1": {
      "main": [
        [
          {
            "node": "SplitStocksByMarket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Financial Stock Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "HOB5DNjfjjnwHLUg",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 30
  },
  "versionId": "65395059-f357-438f-8bfd-d12a870b6e06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4d6a8d4fd80a8d9138c380c50a14cd195951e4a2b31f687a6d6dc7a33dd0c5c"
  },
  "id": "HOB5DNjfjjnwHLUg",
  "tags": []
}