n8n-financial-info/flows/task-flow.json
{
  "name": "Workflow 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        -192
      ],
      "id": "5149240b-cc4e-46b4-95d0-66b7411687b0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI",
          "mode": "list",
          "cachedResultName": "n8n-database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 865796428,
          "mode": "list",
          "cachedResultName": "2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit#gid=865796428"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -192
      ],
      "id": "55682cb1-2042-48e9-9d70-6a322f1465c0",
      "name": "GetTasks",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TcsAIidzUoiqPfyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI",
          "mode": "list",
          "cachedResultName": "n8n-database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 136723104,
          "mode": "list",
          "cachedResultName": "executions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit#gid=136723104"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -192
      ],
      "id": "e4e47bec-a660-482c-b8fb-9005cd1a3b66",
      "name": "GetExecutions",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TcsAIidzUoiqPfyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ScheduleType = {\n  DAILY: 'DAILY',\n  WEEKLY: 'WEEKLY',\n  MONTHLY: 'MOUNTHLY'\n};\n\nconst DaysOfWeek = {\n  Sunday: 0,\n  Monday: 1,\n  Tuesday: 2,\n  Wednesday: 3,\n  Thursday: 4,\n  Friday: 5,\n  Saturday: 6\n};\n\n\nfunction parseExecutionDate(dateStr) {\n  const [datePart, timePart] = dateStr.split(' ');\n  const [day, month, year] = datePart.split('/');\n  const [hours, minutes, seconds] = timePart.split(':');\n  return new Date(year, month - 1, day, hours, minutes, seconds);\n}\n\n\nfunction isToday(date, today = new Date()) {\n  return date.getDate() === today.getDate() &&\n         date.getMonth() === today.getMonth() &&\n         date.getFullYear() === today.getFullYear();\n}\n\n\nfunction getLastExecution(taskId, executions) {\n  const taskExecutions = executions\n    .filter(exec => exec.Id === taskId)\n    .map(exec => parseExecutionDate(exec.ExecutionTime))\n    .sort((a, b) => b - a);\n  \n  return taskExecutions.length > 0 ? taskExecutions[0] : null;\n}\n\n\nfunction getLastNExecutions(taskId, executions, n = 3) {\n  const taskExecutions = executions\n    .filter(exec => exec.Id === taskId)\n    .map(exec => ({\n      date: parseExecutionDate(exec.ExecutionTime),\n      dateStr: exec.ExecutionTime,\n      output: exec.Saida\n    }))\n    .sort((a, b) => b.date - a.date)\n    .slice(0, n);\n  \n  return taskExecutions;\n}\n\n\nfunction hasScheduledTimePassed(scheduledTime, currentTime) {\n  if (!scheduledTime) return true; // Se não tem horário definido, sempre pode executar\n  \n  const [scheduledHours, scheduledMinutes] = scheduledTime.split(':').map(Number);\n  const currentHours = currentTime.getHours();\n  const currentMinutes = currentTime.getMinutes();\n  \n  // Compara horário\n  if (currentHours > scheduledHours) return true;\n  if (currentHours === scheduledHours && currentMinutes >= scheduledMinutes) return true;\n  \n  return false;\n}\n\n\nfunction shouldExecuteDaily(task, lastExecution, today) {\n  // Verifica se o horário agendado já passou\n  if (!hasScheduledTimePassed(task.ScheduledTime, today)) return false;\n  \n  // Nunca executou antes - pode executar\n  if (!lastExecution) return true;\n  \n  // Se já executou hoje, não executar\n  if (isToday(lastExecution, today)) return false;\n  \n  // Se tem período maior que 1, verificar se passou o número de dias\n  if (task.ScheduledPeriod > 1) {\n    const daysDiff = Math.floor((today - lastExecution) / (1000 * 60 * 60 * 24));\n    return daysDiff >= task.ScheduledPeriod;\n  }\n  \n  // Período = 1, executar diariamente\n  return true;\n}\n\n\nfunction shouldExecuteWeekly(task, lastExecution, today) {\n  const scheduledDayOfWeek = DaysOfWeek[task.ScheduledDay];\n  const todayDayOfWeek = today.getDay();\n  \n  // Não é o dia da semana correto\n  if (scheduledDayOfWeek !== todayDayOfWeek) return false;\n  \n  // Verifica se o horário já passou\n  if (!hasScheduledTimePassed(task.ScheduledTime, today)) return false;\n  \n  // Nunca executou antes - pode executar\n  if (!lastExecution) return true;\n  \n  // Já executou hoje - não executar novamente\n  if (isToday(lastExecution, today)) return false;\n  \n  // Executou em outro dia - verifica o período\n  const weeksDiff = Math.floor((today - lastExecution) / (1000 * 60 * 60 * 24 * 7));\n  return weeksDiff >= task.ScheduledPeriod;\n}\n\n\nfunction shouldExecuteMonthly(task, lastExecution, today) {\n  const scheduledDayOfMonth = parseInt(task.ScheduledDay);\n  const todayDayOfMonth = today.getDate();\n  \n  // Não é o dia do mês correto\n  if (scheduledDayOfMonth !== todayDayOfMonth) return false;\n  \n  // Verifica se o horário já passou\n  if (!hasScheduledTimePassed(task.ScheduledTime, today)) return false;\n  \n  // Nunca executou antes - pode executar\n  if (!lastExecution) return true;\n  \n  // Já executou hoje - não executar novamente\n  if (isToday(lastExecution, today)) return false;\n  \n  // Executou em outro dia - verifica o período\n  const monthsDiff = (today.getFullYear() - lastExecution.getFullYear()) * 12 \n                   + (today.getMonth() - lastExecution.getMonth());\n  return monthsDiff >= task.ScheduledPeriod;\n}\n\n\nfunction shouldExecuteTask(task, lastExecution, today = new Date()) {\n  switch (task.ScheduledType) {\n    case ScheduleType.DAILY:\n      return shouldExecuteDaily(task, lastExecution, today);\n    case ScheduleType.WEEKLY:\n      return shouldExecuteWeekly(task, lastExecution, today);\n    case ScheduleType.MONTHLY:\n      return shouldExecuteMonthly(task, lastExecution, today);\n    default:\n      return false;\n  }\n}\n\n\nfunction buildPromptWithHistory(task, lastExecutions) {\n  let prompt = task.Prompt;\n  \n  if (lastExecutions.length > 0) {\n    prompt += '\\n\\n---\\n\\n';\n    prompt += '📋 HISTÓRICO DAS ÚLTIMAS EXECUÇÕES:\\n';\n    prompt += 'Para evitar repetição, considere as respostas anteriores abaixo:\\n\\n';\n    \n    lastExecutions.forEach((exec, index) => {\n      prompt += `${index + 1}. Execução em ${exec.dateStr}:\\n`;\n      prompt += `${exec.output}\\n\\n`;\n    });\n    \n    prompt += '⚠️ IMPORTANTE: Gere uma resposta diferente e criativa, evitando repetir as ideias acima.';\n  }\n  \n  return prompt;\n}\n\n\nfunction removeDuplicateEmails(emails) {\n  return emails.filter((email, index, self) => self.indexOf(email) === index);\n}\n\n\nfunction getTaskEmails(taskId, emailsList) {\n  const taskEmails = emailsList\n    .filter(e => e.Id === taskId)\n    .map(e => e.email);\n  \n  return removeDuplicateEmails(taskEmails);\n}\n\n\nfunction enrichTask(task, executions, emails) {\n  const lastExecutions = getLastNExecutions(task.Id, executions, 3);\n  const enrichedPrompt = buildPromptWithHistory(task, lastExecutions);\n  const taskEmails = getTaskEmails(task.Id, emails);\n  \n  logTaskEnrichment(task, lastExecutions.length, taskEmails);\n  \n  return {\n    ...task,\n    Prompt: enrichedPrompt,\n    HistoryCount: lastExecutions.length,\n    Emails: taskEmails\n  };\n}\n\n\nfunction hasEmails(task) {\n  return task.Emails && task.Emails.length > 0;\n}\n\n\nfunction filterTasksWithEmails(tasks) {\n  return tasks.filter(task => {\n    if (!hasEmails(task)) {\n      console.log(`⚠️ Task \"${task.Subject}\" (ID: ${task.Id}) ignorada - sem emails configurados`);\n      return false;\n    }\n    return true;\n  });\n}\n\n\nfunction validateTasksExist(tasks) {\n  if (tasks.length === 0) {\n    console.log('\\n❌ Nenhuma task com emails configurados. Finalizando fluxo.');\n    return false;\n  }\n  \n  console.log(`\\n✅ ${tasks.length} task(s) com emails serão processadas`);\n  return true;\n}\n\n\nfunction filterTasksBySchedule(tasks, executions, today) {\n  return tasks.filter(task => {\n    const lastExecution = getLastExecution(task.Id, executions);\n    const shouldExecute = shouldExecuteTask(task, lastExecution, today);\n    \n    if (shouldExecute) {\n      console.log(`✅ Task \"${task.Subject}\" deve ser executada`);\n    }\n    \n    return shouldExecute;\n  });\n}\n\n\nfunction logTaskEnrichment(task, historyCount, emails) {\n  console.log(`\\n📝 Task \"${task.Subject}\" - Histórico: ${historyCount} execuções anteriores`);\n  console.log(`📧 Emails: ${emails.length > 0 ? emails.join(', ') : 'nenhum'}`);\n}\n\n\nfunction logProcessingStats(tasksCount, executionsCount, emailsCount, today) {\n  console.log(`📅 Verificando tasks para: ${today.toLocaleDateString('pt-BR')}`);\n  console.log(`📊 Total de tasks: ${tasksCount}`);\n  console.log(`📊 Total de execuções: ${executionsCount}`);\n  console.log(`📧 Total de emails configurados: ${emailsCount}`);\n}\n\n\nfunction filterTasksToExecute(tasks, executions, emails = [], today = new Date()) {\n  // Log de estatísticas iniciais\n  logProcessingStats(tasks.length, executions.length, emails.length, today);\n\n  // Filtrar tasks por agendamento\n  const scheduledTasks = filterTasksBySchedule(tasks, executions, today);\n  console.log(`\\n🎯 Total de tasks para executar: ${scheduledTasks.length}`);\n\n  // Enriquecer tasks com histórico e emails\n  const enrichedTasks = scheduledTasks.map(task => \n    enrichTask(task, executions, emails)\n  );\n\n  // Filtrar apenas tasks com emails\n  const tasksWithEmails = filterTasksWithEmails(enrichedTasks);\n\n  // Validar se há tasks para processar\n  if (!validateTasksExist(tasksWithEmails)) {\n    return [];\n  }\n\n  return tasksWithEmails;\n}\n\n// Exportar todas as funções para testes\n\nconst tasksItems = $('GetTasks').all();\n  const executionsItems = $('GetExecutions').all();\n  const emailsItems = $('GetEmails').all();\n\n  \n  const tasks = tasksItems.map(item => item.json);\n  const executions = executionsItems.map(item => item.json);\n  const emails = emailsItems.map(item => item.json);\n\n  \n  const tasksToProcess = filterTasksToExecute(tasks, executions, emails);\n\n  \n  return tasksToProcess.map((task, index) => ({\n    json: task,\n    pairedItem: { item: index }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -192
      ],
      "id": "d5075dc0-2d58-4502-8dd5-51b12c678a35",
      "name": "FilterTasksToBeExecuted",
      "executeOnce": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.Prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        848,
        -192
      ],
      "id": "59f3680c-a72e-431f-ac55-4746a5e87b34",
      "name": "AI-Process",
      "credentials": {
        "googlePalmApi": {
          "id": "xg8JJT12sq4nKGDw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI",
          "mode": "list",
          "cachedResultName": "n8n-database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 136723104,
          "mode": "list",
          "cachedResultName": "executions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit#gid=136723104"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $('FilterTasksToBeExecuted').item.json.Id }}",
            "ExecutionTime": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "Saida": "={{ $json.Saida }}",
            "Emails": "={{ $('FilterTasksToBeExecuted').item.json.Emails }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExecutionTime",
              "displayName": "ExecutionTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saida",
              "displayName": "Saida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        -288
      ],
      "id": "c51d1d3d-6011-46ac-8db9-4bcba97aaea2",
      "name": "AppendExecutions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TcsAIidzUoiqPfyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI",
          "mode": "list",
          "cachedResultName": "n8n-database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1041026492,
          "mode": "list",
          "cachedResultName": "emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gav5wJnn-w-SffIATp_OVKfDdiIbE3AIPqxvZD8_zTI/edit#gid=1041026492"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -192
      ],
      "id": "c85040eb-b2f6-4988-84d5-63ba743c6e94",
      "name": "GetEmails",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TcsAIidzUoiqPfyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('FilterTasksToBeExecuted').item.json.Emails }}",
        "subject": "={{ $('GetTasks').item.json.Subject }}",
        "message": "={{ $json.Saida }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        16
      ],
      "id": "c15c6ab2-5ecb-43c3-a146-93d98add5c5a",
      "name": "SendEmail1",
      "webhookId": "9d836195-3a6d-48a7-a95f-ef9a5c055267",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mx40O4DWSK5YGsKn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "AI-Process": [
      {
        "json": {
          "Id": 2,
          "ExecutionTime": "12/11/2025 19:01:31",
          "Saida": "<html> <body style=\"font-family: Arial, sans-serif; color:#222; margin:0; padding:24px; background:#f9fafb;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:700px; margin:auto; background:#ffffff; border:1px solid #e5e7eb; border-radius:8px;\"> <tr> <td style=\"padding:24px;\"> <h1 style=\"font-size:20px; margin-bottom:8px;\">Sabedoria Estoica para o Dia a Dia</h1> <p style=\"font-size:14px; color:#555;\">Olá [Nome do Destinatário],</p> <p style=\"font-size:14px; color:#555; margin-bottom:20px;\"> Espero que este e-mail te encontre bem! Separei cinco frases de grandes filósofos estoicos que nos lembram o valor da serenidade, da razão e do foco no que podemos controlar. </p>\n      <ol style=\"padding-left:20px; margin-bottom:24px; font-size:14px; color:#333;\">\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Algumas coisas estão sob nosso controle, e outras não.”</strong> — <em>Epicteto</em><br>\n          <span style=\"color:#666;\">Um lembrete poderoso para concentrar nossa energia apenas no que depende de nós.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“O obstáculo para a ação avança a ação. O que está no caminho torna-se o caminho.”</strong> — <em>Marco Aurélio</em><br>\n          <span style=\"color:#666;\">Um convite para transformar desafios em oportunidades de crescimento.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Sofremos mais frequentemente na imaginação do que na realidade.”</strong> — <em>Sêneca</em><br>\n          <span style=\"color:#666;\">Um lembrete para não deixar que preocupações irreais dominem nossa mente.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Não é o que acontece com você que importa, mas como você reage a isso.”</strong> — <em>Epicteto</em><br>\n          <span style=\"color:#666;\">A essência da resiliência — o poder está sempre em nossa resposta.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Não deseje que as coisas aconteçam do seu jeito, mas deseje que elas aconteçam como acontecem.”</strong> — <em>Epicteto</em><br>\n          <span style=\"color:#666;\">Aceitar a realidade como ela é nos aproxima da verdadeira paz interior.</span>\n        </li>\n      </ol>\n\n      <p style=\"font-size:14px; color:#555;\">\n        Que essas reflexões tragam um pouco de calma e clareza ao seu dia.\n      </p>\n\n      <p style=\"font-size:14px; color:#555; margin-top:20px;\">Com serenidade,<br><strong>[Seu Nome]</strong></p>\n    </td>\n  </tr>\n</table>\n\n</body> </html>",
          "Emails": "ldias.rs@gmail.com"
        }
      },
      {
        "json": {
          "Id": 5,
          "ExecutionTime": "12/11/2025 19:01:31",
          "Saida": "<html> <body style=\"font-family: Arial, sans-serif; color:#222; margin:0; padding:24px; background:#f9fafb;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:700px; margin:auto; background:#ffffff; border:1px solid #e5e7eb; border-radius:8px;\"> <tr> <td style=\"padding:24px;\"> <h1 style=\"font-size:20px; margin-bottom:8px;\">Sabedoria Budista</h1> <p style=\"font-size:14px; color:#555;\">Olá [Nome do Destinatário],</p> <p style=\"font-size:14px; color:#555; margin-bottom:20px;\"> Espero que este e-mail te encontre bem! Separei cinco frases de mestres budistas que nos convidam à reflexão, à paz interior e à atenção plena em nosso dia a dia. </p>\n      <ol style=\"padding-left:20px; margin-bottom:24px; font-size:14px; color:#333;\">\n        <li style=\"margin-bottom:16px;\">\n          <strong>“A dor é inevitável, o sofrimento é opcional.”</strong> — <em>Buddha</em><br>\n          <span style=\"color:#666;\">Um lembrete poderoso de que nossa atitude perante a dor determina o nosso sofrimento.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Você mesmo, tanto quanto qualquer pessoa em todo o universo, merece seu amor e afeto.”</strong> — <em>Buddha</em><br>\n          <span style=\"color:#666;\">Uma verdade fundamental sobre a importância da autocompaixão e do cuidado consigo mesmo.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Não viva no passado, não sonhe com o futuro, concentre a mente no momento presente.”</strong> — <em>Buddha</em><br>\n          <span style=\"color:#666;\">A essência da atenção plena, ensinando a encontrar paz e clareza no aqui e agora.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“Três coisas não podem ser escondidas por muito tempo: o sol, a lua e a verdade.”</strong> — <em>Buddha</em><br>\n          <span style=\"color:#666;\">Sugere que a verdade e a realidade sempre virão à tona, incentivando a autenticidade.</span>\n        </li>\n        <li style=\"margin-bottom:16px;\">\n          <strong>“A raiva nunca é superada pela raiva. Ela é superada pelo amor.”</strong> — <em>Buddha</em><br>\n          <span style=\"color:#666;\">Uma profunda lição sobre a natureza da compaixão e como o amor dissolve a aversão.</span>\n        </li>\n      </ol>\n\n      <p style=\"font-size:14px; color:#555;\">\n        Que essas reflexões tragam um pouco de calma e clareza ao seu dia.\n      </p>\n\n      <p style=\"font-size:14px; color:#555; margin-top:20px;\">Com paz e clareza,<br><strong>[Seu Nome]</strong></p>\n    </td>\n  </tr>\n</table>\n\n</body> </html>",
          "Emails": "ldias.rs@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetTasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTasks": {
      "main": [
        [
          {
            "node": "GetExecutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetExecutions": {
      "main": [
        [
          {
            "node": "GetEmails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterTasksToBeExecuted": {
      "main": [
        [
          {
            "node": "AI-Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Process": {
      "main": [
        [
          {
            "node": "SendEmail1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AppendExecutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEmails": {
      "main": [
        [
          {
            "node": "FilterTasksToBeExecuted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "HOB5DNjfjjnwHLUg",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 30
  },
  "versionId": "55346662-a62d-473a-887f-9f0179a1ec9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4d6a8d4fd80a8d9138c380c50a14cd195951e4a2b31f687a6d6dc7a33dd0c5c"
  },
  "id": "HOB5DNjfjjnwHLUg",
  "tags": []
}